#id{
    margin-left: 200px;
    margin-right: 200px;
}
#form{
    margin-left: 250px;
    margin-right: 250px;
    background-color: rgb(254, 211, 71);
}
#EmailSection{
        margin-left: 250px;
    margin-right: 250px;
        background-color: rgb(254, 211, 71);
    
}